.app {
  padding: 20px;
}

.required {
  color: red;
}
textarea {
  overflow-y: scroll;
}
.product-img {
  width: 150px;
  height: 100px;
  margin: -10px;
}
.img-btn {
  margin-right: 10px;
  border-radius: 3px;
  border-color: grey;

}

#picture-btn {
  width: 150px;
  height: 100px;
}


//Drop and drag
.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 80vw;
  font-weight: 200;
  height: 300px;
  border: 2px dashed #f16624;
  border-radius: 5px;
  background: white;
  margin: 10px 0;

  &.hovering {
    border: 2px solid #f16624;
    color: #dadada !important;
  }

  .file-label {
    font-size: 1.2em;
  }
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

