.required {
  color: red;
}
textarea {
  overflow-y: scroll;
}
.product-img {
  width: 150px;
  height: 100px;
  margin: -10px;
}
.img-btn {
  margin-right: 10px;
  border-radius: 3px;
  border-color: grey;

}
