<h4 class="font-weight-normal">Danh sách các bài viết đã đăng</h4>

<!-- Search form -->
<div class="input-group  ml-auto w-50">
  <input type="text" class="form-control" placeholder="Tìm kiếm">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button">
      Search
    </button>
  </div>
</div>
<br>
<table class="table">
  <tr>
    <th>Post ID</th>
    <th>Tiêu đề</th>
    <th>Loại bài viết</th>
    <th>Danh mục</th>
    <th>Ngày đăng</th>
    <th>Trạng thái</th>
    <th></th>
    <th></th>
  </tr>
    <tr *ngFor="let post of posts">
      <td><label>{{post.id}}</label></td>
      <td><label>{{post.title}}</label></td>
      <td><label>{{post.postType}}</label></td>
      <td><label>{{post.category}}</label></td>
      <td><label>{{post.createdAt |date: 'dd/MM/yyyy'}}</label></td>
      <ng-container [ngSwitch]="post.approved">
        <td *ngSwitchCase=true>Đang rao</td>
        <td *ngSwitchCase=false>Chưa duyệt</td>
      </ng-container>
      <td>
        <button class="btn btn-light" [routerLink]="['/post-edit']"><i class="fa fa-edit"></i></button>
      </td>
      <td>
        <button class="btn btn-light"><i class="fa fa-times"></i></button>
      </td>

</table>
<div class="d-flex justify-content-center">
  <button class="btn btn-light border-primary text-primary">1</button>
</div>
