<h4 class="font-weight-normal">Danh sách các bài viết đã đăng</h4>

<!-- Search form -->
<div class="input-group  ml-auto w-50">
  <input type="text" class="form-control" placeholder="Tìm kiếm" [(ngModel)]="search">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" (click)="getPostsByUser();">
      Search
    </button>
  </div>
</div>
<br>
<table class="table table-responsive{-sm|-md|-lg|-xl}">
  <tr>
<!--    <th>Post ID</th>-->
    <th>Tiêu đề</th>
    <th>Loại bài viết</th>
    <th>Danh mục</th>
    <th>Ngày đăng</th>
    <th>Trạng thái</th>
    <th></th>
    <th></th>
  </tr>
    <tr *ngFor="let post of posts">
      <ng-container *ngIf="post.status">
<!--      <td><label>{{post.id}}</label></td>-->
      <td><label>{{post.title}}</label></td>
      <td><label>{{post.postType.name}}</label></td>
      <td><label>{{post.category.name}}</label></td>
      <td><label>{{post.createdAt |date: 'dd/MM/yyyy'}}</label></td>
      <ng-container [ngSwitch]="post.approved">
        <td *ngSwitchCase=true>Đang rao</td>
        <td *ngSwitchCase=false>Chưa duyệt</td>
      </ng-container>
      <td>
        <button class="btn btn-light" [routerLink]="['/post-edit/'+post.id]"><i class="fa fa-edit"></i></button>
      </td>
      <td>
        <button class="btn btn-light" (click)="deletePost(post)"><i class="fa fa-times"></i></button>
      </td>
      </ng-container>
    </tr>
</table>
<nav class="d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item" *ngFor="let p of pages; let i=index">
      <a class="page-link" href="" (click)="setPage(i, $event)">{{i+1}}</a>
    </li>
  </ul>
</nav>
