.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.edit-cmt {
  display: flex;
  cursor: pointer;
  font-size: 14px;
  margin: 4px 0 9px 10px;
  color: #385898;
}

.edit-cmt:hover {
  text-decoration: underline;
}

.email-cmt{
  font-weight: bold;
  color: #385898;
  font-size: 16px;
}

.date-cmt {
  font-style: italic;
  font-size: 13px;
  font-weight: normal;
  color: #999;
  margin: 4px 0 9px 10px;
}

