.info-edit {
  padding: 20px;
  //margin-left: 30px;
  //margin-right: -60px;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.vertical {
  border-left: 1px solid lightgray;
  height: auto;
}

.required {
  color: red;
}

#btn-upload {
  position: relative;
  //overflow: hidden;
}
#input-upload {
  position: absolute;
  //font-size: 50px;
  opacity: 0;
  right: 0;
  //top: 0;
}


