.post-info {
  font-size: 14px;
  line-height: 26px;
  color: #777;
}

.post-price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #055699;
}

a.card-title {
  color: #2d373f;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.card-body {
  padding: 5px;
}

.p-title {
  height: 65px;
}
