<form class="content mt-3" (ngSubmit)="handleSubmit()">
  <h5 id="text">Mua bán bất động sản</h5>
  <div class="form-group-row px-0 mx-0 p-2">
    <div class="col-sm-12">
      <input
        type="text"
        class="form-control"
        name="keyword"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="addon-wrapping"
        [(ngModel)]="keyword"
      />
    </div>
    <div class="row justify-content-between py-2 mx-3">
      <div class="col-sm-6 px-lg-0 mx-lg-0 pl-2">
        <select
          [(ngModel)]="selectedRegionId"
          name="region"
          class="form-control"
        >
          <option [ngValue]="null">--Toàn quốc--</option>
          <option *ngFor="let region of regions" [ngValue]="region.id">
            {{ region.name }}
          </option>
        </select>
      </div>
      <div class="col-sm-6 px-lg-0 mx-lg-0">
        <select
          [(ngModel)]="selectedCategoryId"
          name="category"
          class="form-control"
        >
          <option [ngValue]="null">--Chọn danh mục--</option>
          <option *ngFor="let category of categories" [ngValue]="category.id">
            {{ category.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="row justify-content-between p-4">
      <div class="col-sm-5">
        <h5>Tất cả Cá nhân/Tổ chức.</h5>
      </div>
      <div class="col-sm-2 px-0 mx-0">
        <button class="btn btn-warning btn-block">
          <i class="fa fa-search"></i> Tìm kiếm
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="!listPost?.empty" class="col-sm-12 align-content-center">
    <div class="row">
      <div
        class="col-sm-12 col-md-6 col-lg-4 mb-2"
        *ngFor="let post of listPost?.content"
      >
        <div
          class="card"
          *ngIf="post.approved"
          [routerLink]="['/post-detail', post.id]"
        >
          <img
            *ngIf="post.postImages.length !== 0"
            class="card-img-top"
            [src]="post.postImages[0].image"
            height="200"
          />
          <img
            *ngIf="post.postImages.length === 0"
            class="card-img-top"
            [src]="'../../../../../assets/img/no-image.jpg'"
            height="200"
          />
          <div class="card-body">
            <div class="p-title">
              <p class="card-title" *ngIf="post.postType !== null">
                [{{ post?.postType.name }}]&nbsp;
              </p>
            </div>
            <div class="p-title">
              <p class="card-title">{{ post.title }}</p>
            </div>
            <p class="post-price">
              Giá: <strong>{{ post.price | number }}</strong> VNĐ
            </p>
            <div class="post-info">
              <div style="height: 26px">
                <div *ngIf="post.region !== null">
                  <i class="fas fa-map-marker-alt"></i> tại
                  {{ post?.region.name }}
                </div>
              </div>
              <div>Ngày đăng: {{ post.createdAt | date: "dd/MM/yyyy" }}</div>
              <div>
                <span>
                  <i class="fas fa-eye"></i> Lượt xem {{ post.viewCount }}
                </span>
                <label class="float-right" *ngIf="post.customerType"
                  >Cá nhân</label
                >
                <label class="float-right" *ngIf="!post.customerType"
                  >Công ty</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="listPost?.empty">
    <h3 class="text-warning text-center">
      Xin lỗi! Chúng tôi không tìm thấy bài đăng nào dành cho bạn!
    </h3>
  </div>
  <nav *ngIf="listPost?.totalPages > 1">
    <ul *ngIf="listPost?.totalPages > 7" class="pager">
      <li *ngIf="listPost?.number !== 0" class="pager__item">
        <span class="pager__link" (click)="handleClickFirst()"><<</span>
      </li>
      <li *ngIf="listPost?.number !== 0" class="pager__item">
        <span class="pager__link" (click)="handleClickPrevious()"><</span>
      </li>
      <li class="pager__item" [hidden]="listPost?.number < 4">
        <span class="pager__link">...</span>
      </li>
      <li
        *ngFor="let item of [].constructor(listPost?.totalPages); let i = index"
        class="pager__item"
        [class.active]="listPost?.number === i"
        [hidden]="!(i > listPost?.number - 4 && i < listPost?.number + 4)"
      >
        <a (click)="jumpToPage(i + 1)" class="pager__link">{{ i + 1 }}</a>
      </li>
      <li
        class="pager__item"
        [hidden]="listPost?.totalPages - listPost?.number < 5"
      >
        <span class="pager__link">...</span>
      </li>
      <li
        *ngIf="listPost?.number !== listPost?.totalPages - 1"
        class="pager__item"
      >
        <span class="pager__link" (click)="handleClickNext()">></span>
      </li>
      <li
        *ngIf="listPost?.number !== listPost?.totalPages - 1"
        class="pager__item"
      >
        <span class="pager__link" (click)="handleClickLast()">>></span>
      </li>
    </ul>

    <ul *ngIf="listPost?.totalPages <= 7" class="pager">
      <li
        *ngFor="let item of [].constructor(listPost?.totalPages); let i = index"
        class="pager__item"
        [class.active]="listPost?.number === i"
      >
        <a (click)="jumpToPage(i + 1)" class="pager__link">{{ i + 1 }}</a>
      </li>
    </ul>
  </nav>
</form>
