
<form class="content">
  <h5 id="text">Mua bán bất động sản</h5>
  <div class="form-group-row px-0 mx-0 p-2">
    <div class="col-sm-12">
      <input
        type="text"
        class="form-control"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="addon-wrapping"
      />
    </div>
    <div class="row justify-content-between py-2 mx-3">
      <div class="col-sm-5 px-0 mx-0">
        <select class="form-control">
          <option value="Toàn quốc">--Toàn quốc--</option>
          <option value="Hà Nội">Hà Nội</option>
          <option value="Hồ Chí Minh">Hồ Chí Minh</option>
          <option value="Đà Nẵng">Đà Nẵng</option>
        </select>
      </div>
      <div class="col-sm-6 px-0 mx-0">
        <select class="form-control">
          <option value="Toàn quốc">--Chọn danh mục--</option>
          <option value="Nhà đất">Nhà Đất</option>
          <option value="Đất nền">Đất nền</option>
          <option value="Đất thổ cư">Đất thổ cư</option>
        </select>
      </div>
    </div>
    <div class="row justify-content-between p-4">
      <div class="col-sm-5">
        <h5>Tất cả Cá nhân/Tổ chức.</h5>
      </div>
      <div class="col-sm-2 px-0 mx-0">
        <button class="btn btn-warning btn-block">
          <i class="fa fa-search"></i> Tìm kiếm
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm 12 align-content-center">
    <div class="row p-2">
      <div class="col-sm-4 mx-8">
        <div class="card" [routerLink]="['/post-detail']">
          <img
            class="card-img-top"
            src="https://picsum.photos/200/150/?random"
          />
          <div class="card-block">
            <label>[Cần bán] Bán lô đất...</label><br />
            <label>9,000,000,000 VND</label>
            <div class="meta">
              <label>tại Hà Nội</label><br />
              <label>2017-02-28</label><br />
              <label>Lượt xem 1</label>
              <label class="float-right">Cá nhân</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mx-8">
        <div class="card" [routerLink]="['/']">
          <img
            class="card-img-top"
            src="https://picsum.photos/200/150/?random"
          />
          <div class="card-block">
            <label>[Cần bán] Bán lô đất...</label><br />
            <label>9,000,000,000 VND</label>
            <div class="meta">
              <div class="meta">
                <label>tại Hà Nội</label><br />
                <label>2017-02-28</label><br />
                <label>Lượt xem 1</label>
                <label class="float-right">Cá nhân</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mx-8">
        <div class="card" [routerLink]="['/']">
          <img
            class="card-img-top"
            src="https://picsum.photos/200/150/?random"
          />
          <div class="card-block">
            <label>[Cần bán] Bán lô đất...</label><br />
            <label>9,000,000,000 VND</label>
            <div class="meta">
              <label>tại Hà Nội</label><br />
              <label>2017-02-28</label><br />
              <label>Lượt xem 1</label>
              <label class="float-right">Cá nhân</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-sm-4 mx-8">
        <div class="card" [routerLink]="['/']">
          <img
            class="card-img-top"
            src="https://picsum.photos/200/150/?random"
          />
          <div class="card-block">
            <label>[Cần bán] Bán lô đất...</label><br />
            <label>9,000,000,000 VND</label>
            <div class="meta">
              <label>tại Hà Nội</label><br />
              <label>2017-02-28</label><br />
              <label>Lượt xem 1</label>
              <label class="float-right">Cá nhân</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mx-8">
        <div class="card" [routerLink]="['/']">
          <img
            class="card-img-top"
            src="https://picsum.photos/200/150/?random"
          />
          <div class="card-block">
            <label>[Cần bán] Bán lô đất...</label><br />
            <label>9,000,000,000 VND</label>
            <div class="meta">
              <label>tại Hà Nội</label><br />
              <label>2017-02-28</label><br />
              <label>Lượt xem 1</label>
              <label class="float-right">Cá nhân</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mx-8">
        <div class="card" [routerLink]="['/']">
          <img
            class="card-img-top"
            src="https://picsum.photos/200/150/?random"
          />
          <div class="card-block">
            <label>[Cần bán] Bán lô đất...</label><br />
            <label>9,000,000,000 VND</label>
            <div class="meta">
              <label>tại Hà Nội</label><br />
              <label>2017-02-28</label><br />
              <label>Lượt xem 1</label>
              <label class="float-right">Cá nhân</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2 ml-auto" id="button-list-all">
    <button class="btn btn-info btn-block">
      <span>1/10</span>
    </button>
  </div>
</form>

