<div class="container mt-5">
  <h4 class="font-weight-normal"><i class="fa fa-pencil-square-o"></i>Thiết lập</h4>
  <hr>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <a data-toggle="collapse"
             href="#category-control"
             aria-expanded="true"
             aria-controls="category-control"
             id="heading-category"
             class="collapsed d-block text-dark"
          >
            <i class="fa fa-chevron-down pull-right"></i>
            Danh mục Bất động sản
          </a>
        </div>
        <div id="category-control" class="collapse" aria-labelledby="heading-category">
        <div class="card-body">
          <form class="row" [formGroup]="categoryForm" (ngSubmit)="onSubmitCategoryForm()">
            <div class="col-10">
              <input class="form-control" placeholder="Tên danh mục" formControlName="name">
              <p *ngIf="categoryForm.controls.name.errors?.required && categoryForm.controls.name.touched"
                 class="text-danger">Vui lòng nhập tên danh mục!</p>
            </div>
            <div class="col-2">
              <button class="btn btn-outline-secondary">Lưu</button>
            </div>
          </form>

          <div class="table-responsive  mt-3">
            <table class="table table-hover">
              <caption hidden>Category list</caption>
              <thead>
              <tr>
                <th>Mã</th>
                <th>Tên danh mục</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let category of categories">
                <td>
                  <label>DM000{{ category.id | number: '2.'}}</label>
                </td>
                <td>
                  <label>{{ category.name }}</label>
                </td>
                <td>
                  <button class="btn btn-light" (click)="updateCategory(category.id)"><i class="fas fa-pen"></i></button>
                </td>
                <td>
                  <button class="btn btn-light" (click)="deleteCategory(category.id)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-header">
          <a data-toggle="collapse"
             href="#postType-control"
             aria-expanded="true"
             aria-controls="postType-control"
             id="heading-postType"
             class="collapsed d-block text-dark"
          >
            <i class="fa fa-chevron-down pull-right"></i>
            Loại tin
          </a>
        </div>
        <div id="postType-control" class="collapse" aria-labelledby="heading-postType">
        <div class="card-body">
          <form class="row" [formGroup]="postTypeForm" (ngSubmit)="onSubmitPostTypeForm()">
            <div class="col-10">
              <input class="form-control" placeholder="Tên loại tin" formControlName="name">
              <p *ngIf="postTypeForm.controls.name.errors?.required && postTypeForm.controls.name.touched"
                 class="text-danger">Vui lòng nhập tên loại tin!</p>
            </div>
            <div class="col-2">
              <button class="btn btn-outline-secondary">Lưu</button>
            </div>
          </form>

          <div class="table-responsive text-nowrap mt-3">
            <table class="table table-hover">
              <caption hidden>Post Type list</caption>
              <thead>
              <tr>
                <th>Mã</th>
                <th>Tên loại tin</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let postType of postTypes">
                <td>
                  <label>LT000{{ postType.id | number: '2.'}}</label>
                </td>
                <td>
                  <label>{{ postType.name }}</label>
                </td>
                <td>
                  <button class="btn btn-light" (click)="updatePostType(postType.id)"><i class="fas fa-pen"></i></button>
                </td>
                <td>
                  <button class="btn btn-light" (click)="deletePostType(postType.id)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <a data-toggle="collapse"
             href="#region-control"
             aria-expanded="true"
             aria-controls="region-control"
             id="heading-region"
             class="collapsed d-block text-dark"
          >
            <i class="fa fa-chevron-down pull-right"></i>
            Vùng miền
          </a>
        </div>
        <div id="region-control" class="collapse" aria-labelledby="heading-region">
        <div class="card-body">
          <form class="row" [formGroup]="regionForm" (ngSubmit)="onSubmitRegionForm()">
            <div class="col-10">
              <input class="form-control" placeholder="Tên vùng miền" formControlName="name">
              <p *ngIf="regionForm.controls.name.errors?.required && regionForm.controls.name.touched"
                 class="text-danger">Vui lòng nhập tên vùng miền!</p>
            </div>
            <div class="col-2">
              <button class="btn btn-outline-secondary">Lưu</button>
            </div>
          </form>

          <div class="table-responsive  mt-3">
            <table class="table table-hover">
              <caption hidden>Region list</caption>
              <thead>
              <tr>
                <th>Mã</th>
                <th>Tên vùng miền</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let region of regions">
                <td>
                  <label>LT000{{ region.id | number: '2.'}}</label>
                </td>
                <td>
                  <label>{{ region.name }}</label>
                </td>
                <td>
                  <button class="btn btn-light" (click)="updateRegion(region.id)"><i class="fas fa-pen"></i></button>
                </td>
                <td>
                  <button class="btn btn-light" (click)="deleteRegion(region.id)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

