<div class="card mt-3">
  <div class="card-header">
    <a data-toggle="collapse"
       href="#postType-control"
       aria-expanded="true"
       aria-controls="postType-control"
       id="heading-postType"
       class="collapsed d-block text-dark"
    >
      <i class="fa fa-chevron-down pull-right"></i>
      Loại tin
    </a>
  </div>
  <div id="postType-control" class="collapse" aria-labelledby="heading-postType">
    <div class="card-body">
      <form class="row" [formGroup]="postTypeForm" (ngSubmit)="onSubmitPostTypeForm()">
        <div class="col-10">
          <input class="form-control" placeholder="Tên loại tin" formControlName="name">
          <p *ngIf="postTypeForm.controls.name.errors?.required && postTypeForm.controls.name.touched"
             class="text-danger">Vui lòng nhập tên loại tin!</p>
        </div>
        <div class="col-2">
          <button class="btn btn-outline-secondary">Lưu</button>
        </div>
      </form>
      <p *ngIf="duplicated" class="text-warning">Đã tồn tại loại tin {{postTypeForm.value.name}} trong cơ sở dữ liệu!</p>

      <div class="table-responsive text-nowrap mt-3">
        <table class="table table-hover">
          <caption hidden>Post Type list</caption>
          <thead>
          <tr>
            <th>Mã</th>
            <th>Tên loại tin</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let postType of postTypes">
            <td>
              <label>LT000{{ postType.id | number: '2.'}}</label>
            </td>
            <td>
              <label>{{ postType.name }}</label>
            </td>
            <td>
              <button class="btn btn-light" (click)="updatePostType(postType.id)"><i class="fas fa-pen"></i></button>
            </td>
            <td>
              <button class="btn btn-light" (click)="deletePostType(postType.id)"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <!--Pagination nav-->
      <nav *ngIf="totalPages > 1" class="d-flex justify-content-center">
        <ul class="pagination">

          <!--    turn to first page-->
          <li class="page-item" [ngClass]="{disabled: first}">
            <a class="page-link" href="" (click)="setPage(0, $event)">
              <em class="fa fa-angle-double-left"></em>
            </a>
          </li>

          <!--    turn to previous page-->
          <li class="page-item" [ngClass]="{disabled: first}">
            <a class="page-link" href="" (click)="setPage(page - 1, $event)">
              <em class="fa fa-angle-left"></em>
            </a>
          </li>

          <!--    display pages list-->
          <ng-template [ngIf]="totalPages <= 5">
            <li
              *ngFor="let p of pages; let i = index"
              class="page-item"
              [ngClass]="{active: i === page}"
            >
              <a class="page-link" href="" (click)="setPage(i, $event)">{{i + 1}}</a>
            </li>
          </ng-template>


          <ng-template [ngIf]="totalPages > 5">
            <ng-template [ngIf]="page <= 1">
              <li
                *ngFor="let p of pages; let i = index"
                class="page-item"
                [ngClass]="{active: i === page}"
                [hidden]="i > 4"
              >
                <a class="page-link" href="" (click)="setPage(i, $event)">{{i + 1}}</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="" (click)="$event.preventDefault()">...</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="" (click)="setPage(totalPages - 1, $event)">{{totalPages}}</a>
              </li>
            </ng-template>


            <ng-template [ngIf]="page > 1 && page < totalPages - 2">
              <li class="page-item" [hidden]="page - 3 < 0">
                <a class="page-link" href="" (click)="setPage(0, $event)">{{1}}</a>
              </li>
              <li class="page-item" [hidden]="page < 4">
                <a class="page-link" href="" (click)="$event.preventDefault()">...</a>
              </li>
              <li
                *ngFor="let p of pages; let i = index"
                class="page-item"
                [ngClass]="{active: i === page}"
                [hidden]="(i < page - 2 || i > page + 2)"
              >
                <a class="page-link" href="" (click)="setPage(i, $event)">{{i + 1}}</a>
              </li>
              <li class="page-item" [hidden]="page > totalPages - 5">
                <a class="page-link" href="" (click)="$event.preventDefault()">...</a>
              </li>
              <li class="page-item" [hidden]="page > totalPages - 4">
                <a class="page-link" href="" (click)="setPage(totalPages - 1, $event)">{{totalPages}}</a>
              </li>
            </ng-template>

            <ng-template [ngIf]="page >= totalPages - 2">
              <li class="page-item">
                <a class="page-link" href="" (click)="setPage(0, $event)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="" (click)="$event.preventDefault()">...</a>
              </li>
              <li
                *ngFor="let p of pages; let i = index"
                class="page-item"
                [ngClass]="{active: i === page}"
                [hidden]="i < totalPages - 5"
              >
                <a class="page-link" href="" (click)="setPage(i, $event)">{{i + 1}}</a>
              </li>
            </ng-template>
          </ng-template>

          <!--    turn to next page-->
          <li class="page-item" [ngClass]="{disabled: last}">
            <a class="page-link" href="" (click)="setPage(page + 1, $event)">
              <em class="fa fa-angle-right"></em>
            </a>
          </li>

          <!--    turn to last page-->
          <li class="page-item" [ngClass]="{disabled: last}">
            <a class="page-link" href="" (click)="setPage(pages.length - 1, $event)">
              <em class="fa fa-angle-double-right"></em>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
