<div class="admin-login">
  <form class="login">
    <div class="form-group text-center mt-3">
      <img src="assets/img/logo.png" id="logo" class="w-50 h-50">
    </div>
    <div class="text-center mx-3">
      <div class="form-group">
        <input class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="Mật khẩu">
      </div>
      <div class="form-group">
        <button class="btn btn-block" style="background-color: #055699; color: white" routerLink="/admin">Đăng nhập</button>
      </div>
    </div>
  </form>
</div>
