<nav
  class="navbar navbar-light sticky-top flex-md-nowrap p-0 shadow navbar-expand-lg"
  style="background-color: #e3f2fd;"
>
  <img
    class="navbar-brand col-md-3 col-lg-2 mr-0"
    src="assets/img/logo.png"
    alt="Logo"
  />
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#sidebarMenu"
    aria-controls="sidebarMenu"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fas fa-user"></i>
      </a>
      <div
        class="dropdown-menu dropdown-menu-right"
        aria-labelledby="navbarDropdownMenuLink"
      >
        <a
          class="dropdown-item"
          *ngIf="user"
          routerLinkActive="active"
          routerLink="/admin/info"
          >Thông tin admin</a
        >
        <a
          *ngIf="!user"
          routerLinkActive="active"
          routerLink="login-admin"
          class="dropdown-item"
          >Đăng nhập</a
        >
        <a *ngIf="user" (click)="logout()" class="dropdown-item">Đăng xuất</a>
      </div>
    </li>
  </ul>
</nav>
