
<div class="container-fluid px-0" style="height: 100vh">
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #f3c623; height: 10%">
        <a class="navbar-brand" href="#">
          <img src="assets/img/logo.png" height="50" width="150"/>
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownId1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"></i> Tìm bất động sản</a>
              <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" href="#">Action 1</a>
                <a class="dropdown-item" href="#">Action 2</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-bullhorn"></i> Đăng tin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-phone-square"></i> Trợ giúp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-user" aria-hidden="true"></i> Đăng nhập</a>
            </li>
          </ul>
        </div>
    </nav>

    <div class="row px-0 mx-0" style="background-color: #edffea;">
  <!--    left side-bar-->
      <div class="col-2">

      </div>
  <!--    content-->
      <div class="col-8 p-3">
        <router-outlet></router-outlet>
      </div>
  <!--    right side-bar-->
      <div class="col-2">

      </div>
    </div>
  </div>
