<div>
  <nav
    class="navbar navbar-expand-lg navbar-light"
    style="background-color: #f3c623;"
  >
    <a class="navbar-brand" routerLink="/">
      <img src="assets/img/logo.png" height="50" width="150" />
    </a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-toggle="collapse"
      data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdownId1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ><i class="fa fa-search"></i> Tìm bất động sản</a
          >
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <button
              class="dropdown-item"
              data-toggle="modal"
              data-target="#advanceSearchModal"
            >
              Tìm kiếm nâng cao
            </button>
            <button
              class="dropdown-item"
              data-toggle="modal"
              data-target="#findByAge"
            >
              Tìm hướng nhà theo năm sinh
            </button>
            <button
              class="dropdown-item"
              data-toggle="modal"
              data-target="#findByKeyword"
            >
              Tìm theo từ khóa
            </button>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goToPostForm(checkUser)"
            ><i class="fa fa-bullhorn"></i> Đăng tin</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/support"
            ><i class="fa fa-phone-square"></i> Trợ giúp</a
          >
        </li>
        <li *ngIf="!user" class="nav-item">
          <a class="nav-link" routerLink="/login"
            ><i class="fa fa-user" aria-hidden="true"></i> Đăng nhập
          </a>
        </li>
        <li *ngIf="user && !isAdmin()" class="nav-item">
          <a class="nav-link" routerLink="/user"
            ><i class="fa fa-user" aria-hidden="true"></i> {{ user.name }}
          </a>
        </li>
        <li *ngIf="user && isAdmin()" class="nav-item">
          <a class="nav-link" routerLink="/admin"
            ><i class="fa fa-user" aria-hidden="true"></i> {{ user.name }}
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row px-0 mx-0">
    <!--    left side-bar-->
    <div class="col-2"></div>
    <!--    content-->
    <div class="col-sm-12 col-md-7 col-lg-7">
      <router-outlet></router-outlet>
    </div>
    <!--    right side-bar-->
    <div class="col-3"></div>
  </div>

  <app-advance-search></app-advance-search>
  <app-search-by-age></app-search-by-age>
  <app-search-by-keyword></app-search-by-keyword>

  <ng-template let-modal #checkUser>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Đăng nhập</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Vui lòng đăng nhập để tiếp tục!</p>
      <p>
        Đăng nhập <a routerLink="/login" (click)="modal.close()">tại đây</a>
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-sm btn-outline-dark"
        (click)="modal.close()"
      >
        Quay lại
      </button>
    </div>
  </ng-template>
</div>
