hr {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.post-info {
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.post-title {
  color: rgba(255,0,0,0.7);
  font-size: 22px;
  font-weight: bolder;
  line-height: 40px;
}
